{% extends "base.html" %}

{% load static %}

{% block title %} Payment {% endblock %}

{% block content %}

    <!-- Main Section-->
    <section class="mt-0  vh-lg-100">
        <!-- Page Content Goes Here -->
        <div class="container">
            <div class="row g-0 vh-lg-100">
                <div class="col-lg-7 pt-5 pt-lg-10">
                    <div class="pe-lg-5">
                        <!-- Logo-->
                        <a class="navbar-brand fw-bold fs-3 flex-shrink-0 mx-0 px-0" href="{% url "home" %}">
                                <div class="d-flex align-items-center">
                                    <svg class="f-w-7" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 77.53 72.26"><path d="M10.43,54.2h0L0,36.13,10.43,18.06,20.86,0H41.72L10.43,54.2Zm67.1-7.83L73,54.2,68.49,62,45,48.47,31.29,72.26H20.86l-5.22-9L52.15,0H62.58l5.21,9L54.06,32.82,77.53,46.37Z" fill="currentColor" fill-rule="evenodd"/></svg>
                                </div>
                            </a>
                        <!-- / Logo-->
                        <nav class="d-none d-md-block">
                            <ul class="list-unstyled d-flex justify-content-start mt-4 align-items-center fw-bolder small">
                                <li class="me-4"><a class="nav-link-checkout "
                                        href="{% url "cart" %}">Your Cart</a></li>
                                <li class="me-4"><a class="nav-link-checkout "
                                        href="{% url "checkout" %}">Information</a></li>
                                {% comment %} <li class="me-4"><a class="nav-link-checkout "
                                        href="{% url "checkout_shipping" %}">Shipping</a></li> {% endcomment %}
                                <li><a class="nav-link-checkout nav-link-last active"
                                        href="{% url "checkout_payment" %}">Payment</a></li>
                            </ul>
                        </nav>                        <div class="mt-5">
                            <!-- Checkout Information Summary -->
                            <ul class="list-group mb-5 d-none d-lg-block rounded-0">
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <span class="text-muted small me-2 f-w-36 fw-bolder">Contact</span>
                                        <span class="small">{{request.user.phone_number}}</span>
                                    </div>
                                    <a href="{% url "checkout" %}" class="text-muted small" role="button">Change</a>
                                </li>
                                <li class="list-group-item d-flex justify-content-between align-items-center">
                                    <div class="d-flex justify-content-start align-items-center">
                                        <span class="text-muted small me-2 f-w-36 fw-bolder">Deliver To</span>
                                        <span class="small">{{request.user.address}}</span>
                                    </div>
                                    <a href="{% url "checkout" %}" class="text-muted small" role="button">Change</a>
                                </li>
          
                            </ul><!-- / Checkout Information Summary-->
                            
                            <!-- Checkout Panel Information-->
                            <h3 class="fs-5 fw-bolder mb-4 border-bottom pb-4">Payment Information</h3>
                            
                            <div class="row">

                              <div class="col-12">
                                <div class="form-check form-group form-check-custom form-radio-custom mb-3">
                                  <input class="form-check-input" type="radio" name="checkoutPaymentMethod" id="checkoutPaymentPaypal">
                                  <label class="form-check-label" for="checkoutPaymentPaypal">
                                    <span class="d-flex justify-content-between align-items-start">
                                      <span>
                                        <span class="mb-0 fw-bolder d-block">Razorpay</span>
                                      </span>
                                      <i class="ri-paypal-line"></i>
                                    </span>
                                  </label>
                                </div>
                              </div>
                            
                            </div>
                            

                            <div class="paypal-details bg-light p-4 d-none my-3 fw-bolder">
                              Please click on place order. You will then be transferred to Paypal to enter your payment details.
                            </div>

                            
                            <div class="pt-5 mt-5 pb-5 border-top d-flex flex-column flex-md-row justify-content-between align-items-center">
                              <a href="{% url "checkout" %}" class="btn ps-md-0 btn-link fw-bolder w-100 w-md-auto mb-2 mb-md-0" role="button">Back to
                                Information</a>
                              <button id="rzp-button1" class="btn btn-dark w-100 w-md-auto" role="button">Place Order</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12 col-lg-5 bg-light pt-lg-10 aside-checkout pb-5 pb-lg-0 my-5 my-lg-0">
                    <div class="p-4 py-lg-0 pe-lg-0 ps-lg-5">
                        <div class="pb-3" style="overflow:auto;height:20vh">
                          {% for cart_item in cart_items %}
                          <!-- Cart Item-->
                          <div class="row mx-0 py-4 g-0 border-bottom">
                              <div class="col-2 position-relative">
                                      <span class="checkout-item-qty">{{cart_item.quantity}}</span>
                                  <picture class="d-block border">
                                      <img class="img-fluid" src="{{cart_item.product.product_image.url}}" alt="HTML Bootstrap Template by Pixel Rocket">
                                  </picture>
                              </div>
                              <div class="col-9 offset-1">
                                  <div>
                                      <h6 class="justify-content-between d-flex align-items-start mb-2">
                                        {{cart_item.product.product_name}}
                                        <a href="{% url "remove_cart_item" cart_item.id %}?next_page=checkout" style="text-decoration:none;"><i class="ri-close-line ms-3"></i></a>
                                      </h6>
                                      <span class="d-block text-muted fw-bolder text-uppercase fs-9">Size: {{cart_item.size_variant}} / Qty: {{cart_item.quantity}}</span>
                                  </div>
                                  <p class="fw-bolder text-end text-muted m-0">${{cart_item.get_product_price}}</p>
                              </div>
                          </div>    <!-- / Cart Item-->
                        {% endfor %}
                            
                            
                        </div>
                        <div class="py-4 border-bottom">
                            <div class="d-flex justify-content-between align-items-center mb-2">
                                <p class="m-0 fw-bolder fs-6">Subtotal</p>
                                <p class="m-0 fs-6 fw-bolder">${{cart.get_cart_total}}</p>
                            </div>
                            <div class="d-flex justify-content-between align-items-center ">
                                <p class="m-0 fw-bolder fs-6">Shipping</p>
                                <p class="m-0 fs-6 fw-bolder">$8.95</p>
                            </div>
                        </div>
                        <div class="py-4 border-bottom">
                            <div class="d-flex justify-content-between">
                                <div>
                                    <p class="m-0 fw-bold fs-5">Grand Total</p>
                                    <span class="text-muted small">Inc $18 GST</span>
                                </div>
                                <p class="m-0 fs-5 fw-bold">${{grand_total}}</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- /Page Content -->
    </section>
    <!-- / Main Section-->

<script src="https://checkout.razorpay.com/v1/checkout.js"></script>


<script>
  var options = {
    "key": "rzp_test_ktWFNwvX50ZW4J", // Replace with your actual Razorpay Key ID (avoid hardcoding)
    "amount": "{{ payment.amount }}",
    "currency": "{{ payment.currency }}",
    "name": "OldSkool Ecomm",
    "description": "Pay for Order",
    "image": "{% static 'images/banners/empty-cart.png' %}",
    "prefill": {
      "name": "{{ request.user.full_name }}",
      "email": "{{ request.user.email }}",
      "contact": "{{ request.user.phone_number }}"
    },
    "notes": {
      "address": "{{ request.user.address }}"
    },
    "theme": {
      "color": "#3399cc"
    }
  };
  
  var rzp1 = new Razorpay(options);
  
  rzp1.on('payment.failed', function(response) {
    console.error('Payment failed:', response.error); // Log errors to console for debugging
  });
  
  document.getElementById('rzp-button1').onclick = function(e) {
    rzp1.open();
    e.preventDefault();
  };
</script>




{% endblock %}
